* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 1px solid lightgray;

    .header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid pink;

        .title {
            margin-left: .25em;
        }
    }

    .controls {
        display: flex;
        width: 33%;
        height: 100%;

        .undo,
        .redo,
        .restart {
            height: 100%;
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    .gameboard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        margin: 8px;

        .cell {
            flex: 1 0 11%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid lightgray;
        }
    }
}